{{!-- <img src="assets/img/burgerImage.png" alt="Burger" class="center"> --}}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Music Connoisseur | Home</title>
  <link href="https://fonts.googleapis.com/css?family=Marcellus+SC|Pinyon+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="https://kit.fontawesome.com/47f71019d1.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="row">
    <div class="content">
      <div class="row name">
        <div class="col-md-3"></div>
        <div class="col-md-6">

          <h1 style="font-family: cursive;">MUSIC CONNOISSEUR</h1>

          <h1 style="font-family: cursive; font-size: 20px; font-style: italic;">Let The Music Speak!</h1>
          <br>
          <hr>

          <!----------------->
          <!-- <input type="text" class="form-control pull-left" id="get-weather"></input>
<button type="submit" class="btn btn-default" id="run-search">
<i class="fa fa-search"></i></button> -->
          <!----------------->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for a genre" aria-label="Genre search"
              aria-describedby="searchBtn" id="get-genre">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
          </div>
          <div style="color: red; float: left;" class="invalid-message"></div>

          <br><br>
          <h3>
            {{#each genre}}

            <button type="submit" class="btn btn-outline-info showGenreBtn"
              data-id="{{this.id}}">{{genre_name}}</button>
            {{/each}}
          </h3>
          <hr>
          <ol>
            {{#each genre}}
            {{#if show_genre}}
            <h3>
              <h3 id="genre_data">Genre Name: </h3>
              <h3>{{genre_name}} </h3>
              <br>
              <h3 id="genre_data">Description: </h3>
              <h3>{{description}} </h3>
              <br>
              <h3 id="genre_data">Comments: </h3>
              <h3>{{comment}}</h3>
              <br>
            </h3>
            <br>
            <br>
            <label for="addComment" class="left">Add Comment: </label>
            <input type="text" class="left" id="newComment" name="newComment">
            <button type="submit" class="btn btn-outline-info addCommentBtn" data-id="{{this.id}}">Submit</button>
            <button type="submit" class="btn btn-outline-info hideGenreBtn" data-id="{{this.id}}">Hide Genre</button>
            <hr>
            {{/if}}
            {{/each}}
          </ol>

          <h2>Don't see your favorite Genre? Add it Here!</h2>
          <form class="create-form">

            <div class="form-group">
              <label for="genreName" class="center">Genre Name:</label>
              <input type="text" class="center" id="genreName" name="genre_name">
              <br>
              <label for="description" class="center">Description:</label>
              <textarea name="description" id="genreDescription"></textarea>
              {{!-- <input type="text" class="center" id="genreDescription" name="description"> --}}
              <br>
              <label for="comment" class="center">Comment:</label>
              <textarea name="comment" id="genreComment"></textarea>
              {{!-- <input type="text" class="center" id="genreComment" name="comment"> --}}
              <br>
              <hr>
            </div>

            <button type="submit" class="btn btn-outline-info" id="submitBtn">Submit</button>
          </form>

        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    {{!-- <footer>&copy; Team 2019</footer> --}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/index.js" type="text/javascript"></script>
</body>